.hyphens(@mode: auto) {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.border-image(@url, @width, @height, @repeat:repeat) {
  -webkit-border-image: url(@url) @width @height fill @repeat;
  -moz-border-image: url(@url) @width @height fill @repeat;
  -o-border-image: url(@url) @width @height fill @repeat;
  border-image: url(@url) @width @height fill @repeat;
}

.background(@url) {
  background: url(@url) top center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.absolute-width() {
    left: 0;
    right: 0;
    position: absolute;
}