{% extends "edit/base.html" %}
{% block form %}
    {% for field in model.fields %}
        {% if field.html_type == "array" %}
            <fieldset id="{{ field.mongo_name }}">
                {{ render_field(field.field) }}
            </fieldset>
        {% else %}
            {{ render_field(field) }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% macro render_field(field) %}
    <label>{{ field.human_name }}
        {% if field.html_type == "checkbox" %}
            <input name="{{ field.mongo_name }}" type="checkbox"
                   {% if item[field.mongo_name] %}checked="checked"{% endif %}>
        {% elif field.html_type == "textarea" %}
            <textarea name="{{ field.mongo_name }}" cols="50"
                      rows="5">{{ item[field.mongo_name]|default("") }}</textarea>
        {% elif field.html_type == "select" %}
            <select name="{{ field.mongo_name }}">
                {% for option in field.options %}
                    {% if option.value %}
                        <option value="{{ option.value }}">{{ option.display }}</option>
                    {% else %}
                        <option>{{ option }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        {% else %}
            <input name="{{ field.mongo_name }}" type="{{ field.html_type }}"
                   value="{{ item[field.mongo_name]|default("") }}"
                   {% if field.readonly %}disabled{% endif %}>
        {% endif %}
    </label>
    {% if field.autocomplete %}
        <input type="hidden" id="{{ field.mongo_name }}-data">
    {% endif %}
{% endmacro %}

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
  $(function() {
    var field_autocomplete = {
      field_name: [
        {
          value: "objectId",
          label: "Field Name"
        }
      ]
    };

    {% for field in model.fields %}
      {% if field.autocomplete %}
        $("#{{ field.mongo_name }}").autocomplete({
          minLength: 0,
          source: field_autocomplete["{{ field.mongo_name }}"],
          focus: function(event, ui) {
            $("#{{ field.mongo_name }}").val(ui.item.label);
            return false;
          },
          select: function(event, ui) {
            $("#{{ field.mongo_name }}").val(ui.item.label);
            $("#{{ field.mongo_name }}-data").val(ui.item.value);

            return false;
          }
        });
      {% endif %}
    {% endfor %}
  });
</script>