{% extends "item.html" %}
{% set item = item|default({}) %}
{% block content %}
    {% block status %}
        {% if updated %}
            <div class="updated">
                Successfully updated item
            </div>
        {% endif %}
        {% if added %}
            <div class="added">
                Successfully added item
            </div>
        {% endif %}
    {% endblock %}
    <form method="post">
        {% block form %}{% endblock %}
        {% block indexes %}
            <fieldset id="index">
                <label for="index_entry">Index:</label>
                <input type="text" id="index_entry" name="index">
            </fieldset>
        {% endblock %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for("static", filename="js/edit.js") }}"></script>
    <script>
      $(function() {
        repeatableSections["index"].addExisting({{ item.index|default([]) }});
      });
    </script>
{% endblock %}