{% extends "item.html" %}
{% set item = item|default({}) %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post">
        {% block form %}{% endblock %}
        {% block indexes %}
            <fieldset id="index">
                <label for="index_entry">Index:</label>
                <input type="text" id="index_entry" name="index">
            </fieldset>
        {% endblock %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for("static", filename="js/edit.js") }}"></script>
    <script>
        $(function() {
            repeatableSections["index"].addExisting({{ item.index|default([]) }});
        });
    </script>
{% endblock %}