{% extends "edit/base.html" %}
{% block form %}
    <label>
        ID/Index:
        <input type="text" name="_id" required value="{{ item._id|default("") }}">
    </label>
    <label>
        SKU:
        <input type="text" name="sku" required value="{{ item.sku|default("") }}">
    </label>
    <label>
        ISBN:
        <input type="text" name="isbn" required value="{{ item.isbn|default("") }}">
    </label>
    <label>
        Product Page:
        <input type="url" name="ffg_url" required value="{{ item.ffg_url|default("") }}">
    </label>
    <label>
        Release Date:
        <input type="date" name="release_date" required value="{{ item.release_date|default("") }}">
    </label>
    <label>
        Description:
        <textarea name="description" cols="50" rows="5">{{ item.description }}</textarea>
    </label>
{% endblock %}