{% extends "item.html" %}
{% block content %}
    {{ super() }}
    <form method="post">
        <label>
            ID:
            <input type="text" disabled value="{{ item._id }}" style="background: white;">
        </label>
        <br>
        <label>
            Player:
            <input type="checkbox" name="player" {% if item.player %}checked="checked"{% endif %}>
        </label>
        <br>
        {% set characteristics = item.characteristics|default({}) %}
        <div style="display: flex">
            <label>
                Brawn:
                <input type="number" name="brawn" value="{{ characteristics.brawn|default(1) }}">
            </label>
            <label>
                Agility:
                <input type="number" name="agility" value="{{ characteristics.agility|default(1) }}">
            </label>
            <label>
                Intellect:
                <input type="number" name="intellect" value="{{ characteristics.intellect|default(1) }}">
            </label>
            <label>
                Cunning:
                <input type="number" name="cunning" value="{{ characteristics.cunning|default(1) }}">
            </label>
            <label>
                Willpower:
                <input type="number" name="willpower" value="{{ characteristics.willpower|default(1) }}">
            </label>
            <label>
                Presence:
                <input type="number" name="presence" value="{{ characteristics.presence|default(1) }}">
            </label>
        </div>
        <label>
            Wounds:
            <input type="number" name="wound" value="{{ item.wound }}">
        </label>
        <br>
        <label>
            Strain:
            <input type="number" name="strain" value="{{ item.strain }}">
        </label>
        <label>
            Starting XP:
            <input type="number" name="xp" value="{{ item.xp }}">
        </label>
        <br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}