{% extends "item.html" %}
{% import "base.html" as base %}
{% block item_block %}
    {{ super() }}
    <div class="adversary">
        <div class="characteristics">
            <div class="block">{{ item.characteristics.brawn }}<div>BRAWN</div></div>
            <div class="block">{{ item.characteristics.agility }}<div>AGILITY</div></div>
            <div class="block">{{ item.characteristics.intellect }}<div>INTELLECT</div></div>
            <div class="block">{{ item.characteristics.cunning }}<div>CUNNING</div></div>
            <div class="block">{{ item.characteristics.willpower }}<div>WILLPOWER</div></div>
            <div class="block">{{ item.characteristics.presence }}<div>PRESENCE</div></div>
        </div>
        <div class="stats">
            <div class="block"><span>SOAK VALUE</span><div>{{ item.stats.soak }}</div></div>
            <div class="block"><span>W. THRESHOLD</span><div>{{ item.stats.wounds }}</div></div>
            {% if item.stats.strain %}
                <div class="block"><span>S. THRESHOLD</span><div>{{ item.stats.strain }}</div></div>
            {% endif %}
            <div class="block"><span>M/R DEFENSE</span><div>{{ item.stats.melee_defense }}|{{ item.stats.ranged_defense }}</div></div>
        </div>
    </div>
    <b>Skills{% if item.level == "Minion" %} (group only){% endif %}:</b> {{ base.list(item.skills)|none }}<br>
    <b>Talents:</b>
    {% if not item.talents or item.talents.length == 0 %}
        None.
    {% else %}
        {% for talent in item.talents %}
            {%- if "id" in talent -%}
                <a href="/talents/{{ talent.id }}">{{ talent.id|replace("_"," ") }}</a> {{ talent.value }}
            {%- else -%}
                <a href="/talents/{{ talent }}">{{ talent|replace("_"," ") }}</a>
            {%- endif -%}
            {{ seperator(loop.last) }}
        {% endfor %}
    {% endif %}
    <br>
    <b>Abilities:</b>
    {% for ability in item.abilities %}
        <a href="/abilities/{{ ability }}">{{ ability|replace("_"," ") }}</a>{{ seperator(loop.last) }}
    {% endfor %}
    <br>
    <b>Equipment:</b> {{ item.equipment|none }}<br>
{% endblock %}

{%- macro seperator(last) -%}
    {% if last %}.{% else %},{% endif %}
{% endmacro %}