{% extends "item.html" %}
{% import "base.html" as base %}
{% block item_block %}
    {{ super() }}
    <p class="no-indent">
        <b>Base Modifications:</b> {% if item.modifiers %}{{ item.modifiers|description }}{% endif %}
        <br>
        <b>Modification Options:</b> {{ base.list(item.modification_options) }}
    </p>
    <b>Hard Points Required:</b> {{ item.hardpoints }}<br>
    <b>Price:</b> {{ item.price|formatprice(item.restricted) }}<br>
    <b>Rarity:</b> {{ item.rarity }}<br>
{% endblock %}