<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <title>{{ title }}</title>
    <link href="{{ url_for("static", filename="style.css") }}" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for("static", filename="icons/apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for("static", filename="icons/favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for("static", filename="icons/favicon-16x16.png") }}">
    <link rel="manifest" href="{{ url_for("static", filename="icons/manifest.json") }}">
    <link rel="mask-icon" href="{{ url_for("static", filename="icons/safari-pinned-tab.svg") }}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>

{% macro table(ttitle, headers, fields, entries, has_index=True) -%}
    <table class="item-table">
        <caption>{{ ttitle }}</caption>
        <thead>
        <tr>
            {%- block table_header scoped %}
                {% for entry in headers %}
                    <td>{{ entry }}</td>
                {% endfor %}
                {% if has_index %}
                    <td>Index</td>
                {% endif %}
            {% endblock -%}
        </tr>
        </thead>
        <tbody>
        {%- block table_entries scoped %}
            {% set category = [] %}
            {% for entry in entries %}
                {% if entry.category and entry.category != category[-1] %}
                    {% if category.append(entry.category) %}{% endif %}
                    <!-- Hack as you can't set stuff inside scopes -->
                    <tr>
                        <td colspan="10">{{ entry.category }}</td>
                    </tr>
                {% endif %}
                <tr>
                    {% for field in fields %}
                        <td>{{ entry[field] }}</td>
                    {% endfor %}
                    {% if entry.index %}
                        <td>{{ entry.index|formatindex }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endblock -%}
        </tbody>
    </table>
{%- endmacro %}

{% macro list(values) -%}
    {% for value in values %}
        {{ value }}{% if loop.last %}.{% else %}, {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro narrative(text) -%}
    <div class="narrative">
        {{ text }}
    </div>
{%- endmacro %}
