{% extends "base.html" %}
{% import "base.html" as base %}

{% set title = item["name"] %}
{% if item["_id"] %}{% set title = item["_id"]|title %}{% endif %}

{% block content %}
    <div class="item-block">
        <h4>{{ title }}</h4>
        {% block item_block %}
            {% if item.description|default(description) %}
                <p>{{ item.description|description }}</p>
            {% endif %}
            {% if item.models %}
                <p class="no-indent">
                    <b>Models Include:</b>
                    {{ base.list(item.models) }}
                </p>
            {% endif %}
        {% endblock %}
        {% if fields %}
            {% for field in fields %}
                <b>{{ field|title }}</b> {{ base.list(item[field]) }}
            {% endfor %}
        {% endif %}
        {% if item.index %}
            <p class="no-indent">
                <b>Index:</b>
                {{ item.index|formatindex }}
            </p>
        {% endif %}
    </div>
{% endblock %}