{% extends "base.html" %}
{% import "base.html" as base %}
{% block content %}
    <div class="item-block">
        <h4>{{ item.name }}</h4>
        {% block item_block %}
            {#            <div style="line-height: 1.2em;">
                <b>Price:</b> {{ item.price|formatprice(item.restricted) }}<br>
                <b>Rarity:</b> {{ item.rarity }}<br>
                <b>Encumbrance:</b> {{ item.encumbrance }}<br>
            </div>#}
            <div class="stat">
                <div>Price</div>
                <div>{{ item.price|formatprice(item.restricted) }}</div>
            </div>
            <div class="stat">
                <div>Rarity</div>
                <div>{{ item.rarity }}</div>
            </div>
            <div class="stat">
                <div>Encumb</div>
                <div>{{ item.encumbrance }}</div>
            </div>
            {% if item.description %}
                <p>{{ item.description|symbol }}</p>
            {% endif %}
            {% if item.models %}
                <p class="no-indent">
                    <b>Models Include:</b>
                    {{ base.list(item.models) }}
                </p>
            {% endif %}
        {% endblock %}
        {% if item.index %}
            <p class="no-indent">
                <b>Index:</b>
                {{ item.index|formatindex }}
            </p>
        {% endif %}
    </div>
{% endblock %}