{% extends "base.html" %}
{% set title = "Login" %}

{% block content %}
{% if status == "success" %}
<div style="width: 100%; text-align: center; font-size: 6em; background-color: green;">
Logged in!
</div>
{% elif status == "failed" %}
<div style="width: 100%; text-align: center; font-size: 6em; background-color: red;">
Failed to login
</div>
{% endif %}
<form method="post">
    <label>
        Username:
        <input type="text" name="username">
    </label>
    <label>
        Password:
        <input type="password" name="password">
    </label>
    <input type="submit" value="Submit">
</form>
{% endblock %}