{% extends "base.html" %}
{% import "base.html" as base %}
{% set categories = categories|default(True) %}
{% set has_index = has_index|default(True) %}
{% block content %}
    <div class="filters">

    </div>
    <table id="data" class="item-table">
        <caption>{{ title }}</caption>
        <thead>
        <tr>
            {%- block table_header scoped %}
                {% if categories %}<td>Category</td>{% endif %}
                <td>{{ name_header|default("Name") }}</td>
                {% for entry in headers %}
                    <td>{{ entry }}</td>
                {% endfor %}
                {% if has_index %}
                    <td>Index</td>
                {% endif %}
            {% endblock -%}
        </tr>
        </thead>
        <tbody>
        {%- block table_entries scoped %}
            {% for entry in entries %}
                <tr>
                    {% if categories %}<td>{{ entry.category }}</td>{% endif %}
                    <td><a href="./{{ entry._id }}">{% if "name" in entry %}{{ entry.name }}{% else %}{{ entry._id|replace("_", " ") }}{% endif %}</a></td>
                    {% for field in fields %}
                        <td>{{ entry[field] }}</td>
                    {% endfor %}
                    {% if has_index %}
                        <td>{{ entry.index|formatindex }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endblock -%}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <!-- todo look into webpack and compiling this all together -->
    <script src="https://cdn.datatables.net/v/dt/dt-1.10.16/rg-1.0.2/datatables.min.js"></script>
    <script src="{{ url_for("static", filename="js/table.js") }}"></script>
    <script>
        $(document).ready(function () {
            init({{ fields }}, {{ has_index|lower }}, {{ categories|lower }});
        });
    </script>
{% endblock %}