{% extends "base.html" %}
{% import "base.html" as base %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/datatables.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/chosen.css"/>
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="filters">
        <img src="/static/img/filter.svg" style="width: 20px; height: 20px;">
        {% if model["category"] %}
            <label>
                Group by Category
                <input type="checkbox" id="categories" checked="checked" style="float: left;">
            </label>
        {% endif %}
    </div>
    <table id="data" class="item-table" style="width:100%">
        <caption>{{ title }}</caption>
        <thead>
        {{ render_header() }}
        </thead>
        <tbody>
        {%- block table_entries scoped %}
            {% for entry in entries %}
                <tr>
                    <td><a href="./{{ entry._id }}">{{ render_name(entry) }}</a></td>
                    {% if model["category"] %}
                        <td>{{ entry["category"] }}</td>
                    {% endif %}
                    {% for field in model.get_table_fields() %}
                        <td>{{ entry[field["mongo_name"]] }}</td>
                    {% endfor %}
                    {% if model.index %}
                        <td>{{ entry["index"]|formatindex }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endblock -%}
        </tbody>
        <tfoot>
        {{ render_header() }}
        </tfoot>
    </table>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/chosen.jquery.min.js" defer></script>
    <script src="/static/js/datatables.min.js" defer></script>
    <script src="/static/js/table.min.js" defer></script>
    <script>
        console.log({{ model|modeltojson }});
        document.addEventListener("DOMContentLoaded", function (event) {
            init({{ model|modeltojson }});
        });
    </script>
{% endblock %}

{% macro render_header() %}
    <tr>
        {% if model["name"] %}
            <td>{{ model["name"]["human_name"]|default("Name") }}</td>
        {% else %}
            <td>{{ model["_id"]["human_name"]|default("Name") }}</td>
        {% endif %}
        {% if model["category"] %}
            <td>Category</td>
        {% endif %}
        {% for field in model.get_table_fields() %}
            <td>{{ field["human_name"] }}</td>
        {% endfor %}
        {% if model.index %}
            <td>Index</td>
        {% endif %}
    </tr>
{% endmacro %}

{% macro render_name(item) %}
    {% if "name" in item %}{{ item.name }}{% else %}{{ item._id|replace("_", " ") }}{% endif %}
{% endmacro %}