{% extends "base.html" %}
{% import "base.html" as base %}

{% set categories = categories|default(True) %}
{% set has_index = has_index|default(True) %}

{% block head %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/dt-1.10.16/fh-3.1.3/r-2.2.1/rg-1.0.2/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/chosen.css"/>
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="filters">
        {% if categories %}
            <label>
                Group by Category
                <input type="checkbox" id="categories" checked="checked">
            </label>
        {% endif %}
    </div>
    <table id="data" class="item-table" style="width:100%">
        <caption>{{ title }}</caption>
        <thead>
        {{ render_header() }}
        </thead>
        <tbody>
        {%- block table_entries scoped %}
            {% for entry in entries %}
                <tr>
                    <td><a href="./{{ entry._id }}">{{ render_name(entry) }}</a></td>
                    {% if categories %}
                        <td>{{ entry["category"] }}</td>
                    {% endif %}
                    {% for column in columns %}
                        <td>{{ entry[column["field"]] }}</td>
                    {% endfor %}
                    {% if has_index %}
                        <td>{{ entry["index"]|formatindex }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endblock -%}
        </tbody>
        <tfoot>
        {{ render_header() }}
        </tfoot>
    </table>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/chosen.jquery.min.js" defer></script>
    <script src="/static/js/datatables.min.js" defer></script>
    <script src="/static/js/table.min.js" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            init({{ columns|tojson }}, {{ has_index|lower }}, {{ categories|lower }});
        });
    </script>
{% endblock %}

{% macro render_header() %}
    <tr>
        <td>{{ name_header|default("Name") }}</td>
        {% if categories %}
            <td>Category</td>{% endif %}
        {% for column in columns %}
            <td>{{ column["header"] }}</td>
        {% endfor %}
        {% if has_index %}
            <td>Index</td>
        {% endif %}
    </tr>
{% endmacro %}

{% macro render_name(item) %}
    {% if "name" in item %}{{ item.name }}{% else %}{{ item._id|replace("_", " ") }}{% endif %}
{% endmacro %}