{% extends "base.html" %}
{% import "base.html" as base %}
{% block content %}
    <table id="data" class="item-table">
        <caption>{{ title }}</caption>
        <thead>
        <tr>
            {%- block table_header scoped %}
                {% if categories %}<td>Category</td>{% endif %}
                <td>{{ name_header|default("Name") }}</td>
                {% for entry in headers %}
                    <td>{{ entry }}</td>
                {% endfor %}
                {% if has_index|default(true) %}
                    <td>Index</td>
                {% endif %}
            {% endblock -%}
        </tr>
        </thead>
        <tbody>
        {%- block table_entries scoped %}
            {% for entry in entries %}
                <tr>
                    {% if categories %}<td data-order="{{ categories[entry.category] }}">{{ entry.category }}</td>{% endif %}
                    <td><a href="./{{ entry._id }}">{% if "name" in entry %}{{ entry.name }}{% else %}{{ entry._id|replace("_", " ") }}{% endif %}</a></td>
                    {% for field in fields %}
                        <td>{{ entry[field] }}</td>
                    {% endfor %}
                    {% if has_index|default(true) %}
                        <td>{{ entry.index|formatindex }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endblock -%}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/rg-1.0.2/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Parse url params
            var params = {};
            location.search.substr(1).split("&").forEach(function (value) { params[value.split("=")[0]] = value.split("=")[1]; });

            var table = $('#data').DataTable({
                paging: false,
                //ajax: "./json",
                columns: [
                    {
                        data: "category",
                        //type: "num", // Used to make it sort using data-order attribute todo not sorting correctly when second sort is applied
                        visible: false
                    },
                    { data: "name" },
                    {% for field in fields %}
                        { data: "{{ field }}" },
                    {% endfor %}
                    { data: "index" }
                ],
                search: {
                    search: params["search"] || ""
                },
                orderFixed: [0, 'asc'],
                rowGroup: {
                    dataSrc: "category"
                }
            });

            var buildUrl = function () {
                var url = window.location.href.split("?")[0] + "?";
                var params = {};
                table.order().forEach(function (col) {
                    params[col[0]] = col[1]
                });
                if (table.search()) params["search"] = table.search();
                window.history.pushState(null, null, url + $.param(params));

                console.log(table.order.fixed());
            };

            table.on('order.dt', buildUrl);
            table.on('search.dt', buildUrl);
        });
    </script>
{% endblock %}