{% extends "item.html" %}
{% block item_block %}
    <div class="stat">
        <div>Damage</div>
        <div>{{ item.damage }}</div>
    </div>
    <div class="stat">
        <div>Critical</div>
        <div>{{ item.critical }}</div>
    </div>
    <div class="stat">
        <div>Hard Points</div>
        <div>{{ item.hardpoints }}</div>
    </div>
    {{ super() }}
    <p>
        <b>Skill:</b> {{ item.skill }}<br>
        <b>Range:</b> {{ item.range }}<br>
        <b>Special:</b> {{ item.special|link_list("qualities") }}.<br>
        <b>Encumbrance:</b> {{ item.encumbrance }}<br>
        <b>Price:</b> {{ item.price|price(item.restricted) }}<br>
        <b>Rarity:</b> {{ item.rarity }}<br>
    </p>
{% endblock %}