<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Planet</title>
</head>
<body>
<form method="post">
    <label>
        Name
        <input name="name" type="text">
    </label>
    <br/>
    <label>
        Astronavigation
        <input name="astronavigation" type="text">
    </label>
    <br/>
    <label>
        Orbital
        <input name="orbital" type="text">
    </label>
    <br/>
    <label>
        Government
        <input name="government" type="text">
    </label>
    <br/>
    <label>
        population
        <input name="population" type="text">
    </label>
    <label>
        languages
        <input name="languages" type="text">
    </label>
    <br/>
    <label>
        terrain
        <input name="terrain" type="text">
    </label>
    <br/>
    <label>
        capital
        <input name="capital" type="text">
    </label>
    <br/>
    <label>
        other cities
        <input name="othercities" type="text">
    </label>
    <br/>
    <label>
        areas
        <input name="areas" type="text">
    </label>
    <br/>
    <label>
        exports
        <input name="exports" type="text">
    </label>
    <br/>
    <label>
        imports
        <input name="imports" type="text">
    </label>
    <br/>
    <label>
        routes
        <input name="routes" type="text">
    </label>
    <br/>
    <label>
        conditions
        <input name="conditions" type="text">
    </label>
    <br/>
    <label>
        background
        <textarea name="background"></textarea>
    </label>
    <br/>
    <button type="submit">Submit</button>
</form>
</body>
</html>