<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <title>{{ title }}</title>
    <link href="{{ url_for("static", filename="style.css") }}" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ url_for("static", filename="img/apple-touch-icon-144x144.png") }}"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
          href="{{ url_for("static", filename="img/apple-touch-icon-152x152.png") }}"/>
    <link rel="icon" type="image/png" href="{{ url_for("static", filename="img/favicon-32x32.png") }}" sizes="32x32"/>
    <link rel="icon" type="image/png" href="{{ url_for("static", filename="img/favicon-16x16.png") }}" sizes="16x16"/>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>

{% macro table(ttitle, headers, fields, entries, class="") -%}
    <table class="item-table {{ class }}">
        <caption>{{ ttitle }}</caption>
        <thead>
        <tr>
            {%- block table_header scoped %}
                {% for entry in headers %}
                    <td>{{ entry }}</td>
                {% endfor %}
            {% endblock -%}
        </tr>
        </thead>
        <tbody>
        {%- block table_entries scoped %}
            {% set category = [] %}
            {% for entry in entries %}
                {% if entry.category and entry.category != category[-1] %}
                    {% if category.append(entry.category) %}{% endif %}
                    <!-- Hack as you can't set stuff inside scopes -->
                    <tr>
                        <td colspan="10">{{ entry.category }}</td>
                    </tr>
                {% endif %}
                <tr>
                    {% for field in fields %}
                        <td>{{ entry[field] }}</td>
                    {% endfor %}
                    {% if entry.index %}
                        <td>{{ entry.index|formatindex }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endblock -%}
        </tbody>
    </table>
{%- endmacro %}

{% macro list(values) -%}
    {% for value in values %}
        {{ value }}{% if loop.last %}.{% else %}, {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro parse(text) -%}
    {{ text|replace("[BOOST]","<span class='symbol boost'></span>")|safe }}
{%- endmacro %}