<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>

{% macro table(ttitle, headers, entries, class="") -%}
    <table class="item-table {{ class }}">
        <caption>{{ ttitle }}</caption>
        <thead>
        <tr>
            {%- block table_header scoped %}
                {% for entry in headers %}
                    <td>{{ entry }}</td>
                {% endfor %}
            {% endblock -%}
        </tr>
        </thead>
        <tbody>
        {%- block table_entries scoped %}
            {% for entry in entries %}
                <tr>
                    {% for value in entry %}
                        {% if loop.last %}
                            <td>{{ value|formatindex }}</td>
                        {% else %}
                            <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endblock -%}
        </tbody>
    </table>
{%- endmacro %}

{% macro list(values) -%}
    {% for value in values %}
        {{ value }}{% if loop.last %}.{% else %}, {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro parse(text) -%}
    {{ text|replace("[BOOST]","<span class='symbol boost'></span>")|safe }}
{%- endmacro %}